.loginScreen {
  position: relative;
  height: 100%;
  background: url("https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg")
    no-repeat center;
  background-size: cover;
  /* another link: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQLjmgZf4XAmEMt5VFt2tiaH2o2LvO9mXwd_-QvHgGN738GzBBHlhjEUn6J2QsUv9mel4&usqp=CAU */
}
.loginScreen_button {
  position: fixed;
  right: 20px;
  top: 15px;
  padding: 7px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  cursor: pointer;
}

.loginScreen_logo {
  position: fixed;
  height: 40px;
  left: 0;

  object-fit: contain;
  padding: 10px 0px 0px 15px;
}

.loginScreen_gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.loginScreen_body {
  position: absolute;
  z-index: 1;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 20px;
  top: 30%;
  left: 0;
  right: 0;
}

.loginScreen_body > h1 {
  font-size: 2.125rem;
  color: white;
  padding: 20px;
}
.loginScreen_body > h2 {
  font-size: 1.2rem;
  color: white;
  padding: 5px 20px 20px 20px;

  margin-bottom: 5px;
}

.loginScreen_body > h3 {
  font-size: 0.8rem;
  color: white;
  font-weight: 400;
}



.loginScreen_input{
margin: 20px;
}

.loginScreen_input > form > input{
    padding: 10px;
    outline-width: 0;
    height: 20px;
    width: 40%;
    border: none;
    max-width: 600px;

}

.loginScreen_getStarted{
    padding: 10.7px 19px 12px 19px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    font-weight: 600;

}

@media (max-width:800px){
  .loginScreen_getStarted

  
  {
    padding: 8px 1px 10px 1px;
  font-size: 15px;

  
  }
  .loginScreen_input > form > input{
    padding: 10px 50px 10px 50px;
    outline-width: 0;
    height: 20px;
    width: 40%;
    border: none;
    max-width: 600px;
    margin-right:5px
}



}

